.signUp
{
    background-color: purple;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 10px;
}
.container
{
    text-align: right;
}
#sampleImage
{
    width: 250px;
    height: auto;
}
#banner
{
    width: 1350px;
    height: 500px;
}
.text
{
    position: absolute;
    top: 10%;
    text-align: center;
    right: 28%;
    color: black;
    font-weight: bolder;
    font-size: 30px
}
.search
{
    position: absolute;
    top: 30%;
    right: 45%;
}
.maping{
    background-color: purple;
    color: white;
    width: 72px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    right: 19px;
}
.mapping1
{
    background-color: purple;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    right: 10px;
}
.mapping2
{
    background-color: purple;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    display: flex;
}
.picturing
{
    background-color: wheat;
}
#pic
{
    padding: 20px;
    width: 450px;
    height: auto;
}
#pic1
{
    padding: 20px;
    width: 470px;
    height: auto;
    margin-left: 230px;
}
.movetext
{
    position: relative;
    left: 28px;
    bottom: 30px;
    color: black;
}
#pic6
{
        padding: 20px;
        width: 370px;
        height: auto;
         
}
.movement1
{
    position: relative;
    left: 830px;
    bottom: 180px;
    
}
.picturing2
{
    background-color: gray;
}
.foot
{
    position: relative;
    left: 200px;
} 
 
  
  